<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page</title>
    <link rel='stylesheet' href='../css/styletalk.css' />
</head>

<body>
    <a class="site-title" href="/">Farhana yasmin</a>

    <div class="topnav">
        <a class="active" href="/">Info</a>

        <a href="/contact">CV</a>

        <a href="/about">Talks</a>

    </div>
    <p>This is the About page</p>
</body>

</html>