<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navigation page </title>
    <link rel='stylesheet' href='../css/style.css' />



</head>

<body>
    <a class="site-title" href="/">Farhana yasmin</a>

    <div class="topnav">
        <a class="active" href="/">Info</a>

        <a href="/contact">CV</a>

        <a href="/about">Talks</a>

    </div>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <div class="home">
            </div>
            <h1 class="heading">hey there</h1>
            <p>This is just a place listing my info and what i’m up to.</p>
            <p>I like web, i like code and i like talking about all this. Go to <a href="/about">talks</a> to see
                what i’m up to.</p>
            <p>Make sure to check out my <a href="https://github.com/farhayasmin03">github</a>, and my <a href="https://www.linkedin.com/in/farhana-yasmin/">linkedin</a>
                for more.</p>
            <footer class="footer">

                <div class="wrapper">

                    <h3 class="footer-heading">Farhana Yasmin</h3>

                    <div class="footer-cont">
                        <div class="footer-item">
                            <ul class="contact-list">
                                
                                <li><a href="yasminfarhana987@gmail.com">yasminfarhana987@gmail.com</a></li>

                            </ul>
                        </div>




                    </div>
    </main>




</body>

</html>